@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

// fonts
$font-poppins: 'Poppins', sans-serif;

// colors
$dark-blue: #202142;
$pink:#ff6a95;
$white: #fff;
$gray: #ccc;
$light-gray: #f4f4f4;
$dark-gray: #333;