@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

// fonts
$font-poppins: 'Poppins', sans-serif;

// colors
$white: #fff;
$light-grey: #EEEEEE;
$grey: #ccc;
$dark-grey: #393E46;
$background-black: #222831;
$light-yellow: #fbd478;
$yellow: #fac446;
$dark-yellow: #EDA806;
